POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=superdashboard
PGADMIN_DEFAULT_EMAIL=admin@vexylo.com
PGADMIN_DEFAULT_PASSWORD=admin
DATABASE_URL=postgresql://postgres:your_secure_password@localhost:2050/superdashboard
DOCKER_DATABASE_URL=postgresql://postgres:your_secure_password@db:5432/superdashboard
API_PORT=2060
